<div class="container">
  <%= render 'shared/error', obj:@user %>
  <div class="row mt-4 justify-content-center">
    <div class="col">
      <%= form_with(model: @user, class: "shadow p3 mb-3 bg-info rounded", local: true) do |form| %>
        <div class="form-group row">
          <%=form.label :username, class: "col-2 mt-4 col-form-label text-light text-center" %>
          <div class="col-9">
            <%= form.text_field :username, class: "form-control mt-4 shadow rounded", placeholder: "Choose your username. Use between 3 to 25 characters."   %>
          </div>
        </div>   
        <div class="form-group row">
          <%=form.label :email, class: "col-2 mt-4 col-form-label text-light text-center" %>
          <div class="col-9">
            <%= form.email_field :email, class: "form-control mt-4 shadow rounded", placeholder: "Please put your email address."  %>
            <%= form.email_field :email, class: "form-control mt-4 shadow rounded", placeholder: "Please put your email address."  %>
          </div>
        </div>   
        <div class="form-group row">
          <%=form.label :password, class: "col-2 mt-4 col-form-label text-light text-center" %>
          <div class="col-9">
            <%= form.password_field :password, class: "form-control mt-4 shadow rounded", placeholder: "Choose a password."  %>
            <%= form.password_field :password, class: "form-control mt-4 shadow rounded", placeholder: "Choose a password."  %>
          </div>
        </div>   
        <div class="form-group row justify-content-center">
          <%= form.submit "Sign Up", class: "btn mb-4 btn-outline-light btn-lg" %>
        </div>
      <% end %> 
    </div>
  </div>
</div>
