<div class="d-flex flex-column">
    <% @users.each do |user| %>
      <div class="container">
        <div class="card md-8 mt-4 shadow mb-5 bg-white rounded text-center">
          <div class="card-header">
            <%= user.username if user %>
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= gravatar_for(user, size: 150) %></h5>
            <p class="card-text"><%= pluralize(user.articles.count, "article") %></p>
            <%= link_to 'View Profile', user, class: "btn btn-primary text-white"%>
            <%= link_to 'Edit Profile', edit_user_path(user), class: "btn btn-success text-white"%>
          </div>
          <div class="card-footer text-muted">
            created <%= time_ago_in_words(user.created_at)%> ago, 
            updated <%= time_ago_in_words(user.updated_at)%> ago
          </div>
        </div>
      </div>
    <% end %>
</div>
  